body {
    background: url("../images/actors.jpg") center center fixed no-repeat; 
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}